<h1><u>Welcome</u></h1>
<h3>Game Rules!!</h3>
<p>Pick between Rock, Paper or Scissors</br>
The computer will randomly choose<br>
Rock beats Scissors</br>
Scissors beats Paper</br>
Paper beats Rock</br>
See who wins, make your choice below!</p>
