<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/style.css'>
  <title>RockPaperScissors</title>
</head>
<body>
  <%= yield %>
  <nav>
    <a class="button" href="/game/paper">Paper</a>
    <a class="button" href="/game/rock">Rock</a>
    <a class="button" href="/game/scissors">Scissors</a></br>
  </br>
</br>
    <a href="/">Home</a>
  </nav>
</body>
</html>
